@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

$spfont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.bs .navbar-brand:hover{
    color: $ms-color-themeDarker !important;
}

.bs .nav-link{
    color: $ms-color-themeLighter !important;

    &:hover{
        color: $ms-color-themeDarker  !important;
    }
}

.bs .tippy-box, .bs .dropdown-item, .bs .tippy-content.bs{
    font-family: $spfont !important;
}